.ly_header {
  border-bottom: 1px solid #ddd;

  &_inner {
    max-width: 1230px;
    padding: 4px 15px;
    display: flex;
    justify-content: space-between;

    .ly_btnWrapper {
      display: flex;
      align-items: center;
      text-align: right;

      i {
        color: #000;
        padding: 0 5px;
        font-size: 1.25rem;
      }
    }
  }
}
