.ly_header {
  border-bottom: 1px solid #ddd;

  &_inner {
    display: flex;
    justify-content: space-between;
    padding: 6px 15px;
    max-width: 1230px;
    margin: 0 auto;

    .ly_btnWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: right;

      svg {
        margin-left: 10px;
      }
    }
  }
}
