.bl_vertMarketInfo {
  &_item {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
  }

  &_link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.25s;
    color: currentColor;
  }

  &_inner {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    transition: 0.25s;
    color: currentColor;
  }

  &_ttl {
    font-weight: bold;
  }

  &_standard {
    display: flex;
    color: #666;
  }

  &_marketPrice {
    text-align: right;
    font-weight: bold;
  }

  &_icon {
    width: 1rem;
  }

  &_fluctuation {
    &__red {
      color: red;
    }

    &__blue {
      color: blue;
    }
  }

  &_standard,
  &_fluctuation {
    font-size: 0.875rem;
  }
}

.open {
  color: green;
}

.closed {
  color: red;
}
