.el_button {
  text-decoration: none;
  border: 0;
  outline: 0;
  font-size: 2rem;
  padding: 1rem;
  color: var(--theme-page-text);
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
