.ly_footer_nav {
  background: #f1f1f1;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .ly_footer_nav_icon {
    margin-bottom: 8px;
    font-size: 20px;
  }
}

.ly_footer_nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-decoration: none;
  color: #adb5bd;
  font-size: 12px;
}
