.ly_header {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 100;
}

.ly_header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  width: 100%;
  height: 80px;
}

.ly_header_category {
  font-size: 15px;
  font-weight: 600;
}

.ly_header_icon {
  position: fixed;
  right: 35px;
  font-size: 20px;
  cursor: pointer;
}

.ly_header_nav {
  display: flex;
  background: #fff;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
  border: 1px solid #dee2e6;
  margin-bottom: 5px;
}

.ly_header_nav_cat {
  text-decoration: none;
  color: #adb5bd;
  font-size: 12px;
}

.ly_header_nav_cat > .active {
  color: black;
}
