.ly_header {
  border-bottom: 1px solid #ddd;

  &_inner {
    max-width: 1230px;
    padding: 4px 15px;
    display: flex;
    justify-content: space-between;

    // .bl_btnWrapper {
    //   display: flex;
    //   align-items: center;
    //   text-align: right;
    // }

    .bl_marketPriceHeading {
      &_price {
        display: flex;
        justify-content: bottom;
        align-items: center;

        h2 {
          margin-right: 10px;
        }

        .changePrice {
          color: red;
          &__neg {
            color: blue;
          }
        }
      }

      &_standard {
        font-size: 0.875rem;
        color: gray;
      }
    }
  }
}
