.bl_periodMenu {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #adb5bd;

  &_item {
    font-size: 1.4rem;

    &.is_active {
      border-bottom: 2px solid #adb5bd;
      color: var(--theme-page-text);
    }
  }
}
