.bl_comment_container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bl_comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 55%;
  height: 50%;
  min-width: 300px;
  min-height: 450px;
  max-width: 600px;
  max-height: 800px;
  background: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;

  padding: 0 1rem;

  &_heading {
    font-size: 3rem;
    padding-bottom: 10px;
  }
  &_articleWrapper {
    width: 80%;
  }
  &_form {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  &_textarea_container {
    position: relative;
    margin-top: 2rem;
  }
  &_textarea {
    width: 300px;
    height: 200px;
    outline: none;
    resize: none;
    overflow: auto;
    width: 100%;
    border: 1px solid rgba(194, 194, 194, 0.752);
    background: white;
    color: black;
  }
  &_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    & > .el_cancel_Btn {
      font-weight: 500;
      padding: 11px 28px;
      border-radius: 12px;
      font-size: 0.8rem;
      border: none;
      color: #fff;
      background: #ff3e4e;
      transition: all 0.25s ease;
    }

    & > .el_submit_Btn:enabled {
      font-weight: 500;
      padding: 11px 28px;
      border-radius: 12px;
      font-size: 0.8rem;
      border: none;

      background-color: rgb(199, 199, 199);
      transition: all 0.25s ease;
    }
    & > .el_submit_Btn:disabled {
      font-weight: 500;
      padding: 11px 28px;
      border-radius: 12px;
      font-size: 0.8rem;
      border: none;
      background-color: rgb(199, 199, 199);
      transition: all 0.25s ease;
      &:hover {
        box-shadow: none;
        transform: none;
        cursor: not-allowed;
      }
    }

    & > .el_cancel_Btn:hover {
      box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
      transform: translateY(-5px);
      background: #ff3e4e;
    }

    & > .el_submit_Btn:hover {
      box-shadow: 0 10px 20px -10px rgb(199, 199, 199);
      transform: translateY(-5px);
      background: rgb(234, 234, 234);
    }
  }
}
