// 초기 세팅
$mainColor: rgba(20, 102, 255, 0.5);
$hoverColor: #151b41;

$boderwhiteOp: rgba(255, 255, 255, 0.15);
$mainTextColor: #333;
$mainTextColor2: #555;
$mainTextColor3: #222;
$mainTextColor4: #444;
$mainTextColor5: #666;
$whiteColor: #fff;
$width100: 100%;
$mainCopyright: #061536;
$subBgColor: #e7edf1;
$subTextColor: #302920;
$bgTextColor: #1c1d1f;
$radiusBox: #839dd6;

$XSmall-Mobile: 'screen and (max-width : 500px)';
$Small-Mobile: 'screen and (max-width : 700px)';
$Small-Tablet: 'screen and (max-width : 800px)';
$XSmall-Web: 'screen and (max-width : 1148px)';
$Small-Web: 'screen and (max-width : 1248px)';
$Big-Web: 'screen and (min-width : 1920px)';
