@import 'mixins';
@import 'variables';
@import 'fonts';

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-decoration: none;
  outline: none;
  &::-webkit-scrollbar {
    width: 6px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #cdcdcd;
    border-radius: 6px;
    box-shadow: inset 0px 0px 5px white;
  }
}

button,
input[type='button'] {
  cursor: pointer;
  transition: all 0.3s;
}

ul {
  list-style: none;
}

img {
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
}

.none {
  display: none !important;
}

.icon {
  filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(84deg) brightness(102%)
    contrast(95%);
}
