@import 'mixins';
@import 'variables';
@import 'fonts';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--theme-page-background);
  color: var(--theme-page-text);
}

.darkModeBtnWrapper {
  width: 100%;
}
