.ly_chart {
  text-align: center;

  & > ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    color: #adb5bd;
  }
}

.bl_horizViewMenu {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;

  & .active {
    border-bottom: 2px solid #adb5bd;
    padding-bottom: 5px;
  }
}

.el_canvas {
  border: 1px solid #adb5bd;
  width: 100%;
}
