.ly_chart {
  border: 1px solid #adb5bd;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 100%;

  & > ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding-bottom: 7px;
    color: #adb5bd;
  }
}
